.location {
	&-wrapper {
		@include page-spacing;

		@include tablet() {
			padding-top: 60px;
			padding-bottom: 96px;
		}

		@include mobile() {
			padding-top: 28px;
			padding-bottom: 56px;
		}
	}

	&-nav {
		margin-bottom: 32px;
		display: flex;
		align-items: center;

		@include tablet() {
			margin-bottom: 24px;
		}

		@include mobile() {
			margin-bottom: 20px;
		}

		&-label {
			font-size: 24px;
			line-height: 1.25;
			margin-right: 20px;

			@include tablet() {
				font-size: 16px;
				line-height: 1.875;
			}

			@include mobile() {
				font-size: 14px;
				line-height: 30px;
				margin-right: 12px;
			}
		}

		&-select {
			width: 324px;
			padding: 8px 19px;
			border: 1px solid #cdd4da;
			font-size: 18px;
			line-height: 26px;

			@include tablet() {
				width: 237px;
				padding: 10px 16px;
				font-size: 16px;
				line-height: 1.5;
			}

			@include mobile() {
				padding: 7px 16px;
				width: 277px;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 5%;
		row-gap: 32px;

		@include tablet() {
			column-gap: 4%;
			row-gap: 20px;
		}

		@include mobile() {
			gap: 16px;
		}
	}

	&-card {
		flex-basis: 30%;
		border: 1px solid #00000020;

		@include tablet() {
			flex-basis: 48%;
		}

		@include mobile() {
			flex-basis: 100%;
		}

		&-title {
			padding: 12px 24px;
			font-size: 24px;
			color: #212529;
			border-bottom: 1px solid #00000020;

			@include tablet() {
				padding: 8px 24px;
				font-size: 16px;
				font-weight: 700;
			}
		}

		&-body {
			padding: 16px 24px;
		}

		&-item {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		&-content {
			display: grid;
			grid-template-columns: max-content 1fr;
			align-items: center;
		}

		&-icon {
			width: 20px;
			height: 20px;
			margin-right: 10px;

			@include tablet() {
				margin-right: 8px;
			}
		}

		&-text {
			font-size: 20px;

			@include tablet() {
				font-size: 14px;
			}
		}

		&-btn {
			background: #000;
			color: #fff;
			font-size: 19px;
			line-height: 27px;
			text-align: center;
			padding: 20px 0;

			@include tablet() {
				font-size: 14px;
				line-height: 1.5;
				padding: 16px 0;
			}
		}
	}
}
