.faq {
	@include page-spacing;

	&-title {
		@include page-title;

		&-sub {
			font-size: 32px;
			line-height: 63px;
			margin-bottom: 36px;
			font-weight: 700;

			@include tablet() {
				margin-bottom: 32px;
			}

			@include mobile() {
				margin-bottom: 24px;
				font-weight: 400;
				font-size: 20px;
			}
		}
	}

	&-item {
		&:not(:last-child) {
			margin-bottom: 32px;

			@include tablet() {
				margin-bottom: 24px;
			}

			@include mobile() {
				margin-bottom: 20px;
			}
		}
	}

	&-question {
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 16px;

		@include mobile() {
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 8px;
		}
	}

	&-answer {
		padding-left: 95px;
		font-size: 16px;
		display: flex;
		flex-direction: column;

		@include mobile() {
			padding-left: 0;
		}

		br {
			@include mobile() {
				display: none;
			}
		}

		&-other {
			@include mobile() {
				margin-top: 16px;
			}
		}
	}
}
