.pagination {
	&-list {
		display: flex;
		justify-content: center;
		margin-bottom: 160px;

		@include tablet() {
			margin-bottom: 96px;
		}

		@include mobile() {
			margin-bottom: 56px;
		}
	}

	&-item {
		&:first-child,
		&:last-child {
			.pagination-link {
				padding: 11px 12px;
				font-size: 19px;
				line-height: 29px;

				@include mobile() {
					padding: 11px 12px;
					font-size: 17px;
					line-height: 26px;
				}
			}
		}

		&:not(:last-child) {
			.pagination-link {
				border-right: 1px solid #555;
			}
		}

		&:not(:first-child) {
			.pagination-link {
				border-left: none;
			}
		}
	}

	&-link {
		padding: 12px 16px;
		font-size: 18px;
		border: 1px solid #555;
		color: #555;

		@include mobile() {
			padding: 12px 15px;
			font-size: 16px;
		}

		&:hover {
			background: #000;
			color: #fff;
		}
	}

	&-active {
		background: #000;
		color: #fff;
	}
}
