.home {
	&-banner {
		height: 840px;
		background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
		background-size: cover;

		@include tablet() {
			background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png);
		}

		@include mobile() {
			background-position: left;
			height: 394px;
		}

		&-text {
			height: 100%;
			color: $color-secondary;
			text-align: right;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&-1 {
				font-size: $size-9;

				@include tablet() {
					font-size: $size-5;
				}

				@include mobile() {
					font-size: $size-4;
					line-height: 1.875;
				}
			}

			&-2 {
				font-size: $size-16;

				@include tablet() {
					font-size: $size-12;
				}

				@include mobile() {
					font-size: $size-8;
					line-height: 2.25;
				}
			}
		}
	}
	&-title {
		font-size: $size-12;
		font-weight: 700;
		text-align: center;
		margin-bottom: $size-10;

		@include tablet() {
			margin-bottom: $size-8;
			font-size: $size-8;
		}

		@include mobile() {
			font-size: $size-6;
			margin-bottom: $size-5;
			line-height: 2;
		}
	}

	&-service {
		@include section-padding;

		&-list {
			display: flex;
			column-gap: 4%;

			@include tablet() {
				flex-wrap: wrap;
				row-gap: $size-8;
				column-gap: 4%;
			}

			@include mobile() {
				column-gap: 0;
				row-gap: $size-8;
			}
		}

		&-item {
			flex-basis: 22%;
			display: flex;
			flex-direction: column;
			align-items: center;

			@include tablet() {
				flex-basis: 48%;
			}

			@include mobile() {
				flex-basis: 100%;
			}

			img {
				width: 100px;
				height: 100px;
				margin-bottom: $size-4;
			}

			&-title {
				font-size: $size-6;
				font-weight: 700;
				color: $color-secondary;
				margin-bottom: $size-2;

				@include tablet() {
					font-size: $size-8;
				}

				@include mobile() {
					font-size: $size-6;
					line-height: 2;
				}
			}

			&-desc {
				font-size: $size-4;
			}
		}
	}

	&-product {
		@include section-padding;

		&-item {
			display: flex;
			column-gap: 30px;
			position: relative;

			@include mobile() {
				flex-direction: column;
			}

			&:not(:last-child) {
				margin-bottom: $size-8;

				@include tablet() {
					margin-bottom: $size-2;
				}
			}

			&:nth-child(even) {
				flex-direction: row-reverse;

				@include tablet() {
					flex-direction: row;
				}
			}

			&-img {
				width: 635px;
				height: 320px;
				object-fit: cover;

				@include tablet() {
					width: 390px;
					height: 168px;
				}
			}

			&-category {
				display: flex;
				align-items: center;

				@include mobile() {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				&-icon {
					width: $size-11;
					height: $size-11;
					margin-right: 10px;
				}
			}

			&-text {
				font-size: $size-12;

				@include tablet() {
					font-size: $size-7;
					line-height: 2.57;
				}
			}
		}
	}

	&-mix {
		background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png);
		background-size: cover;
		@include section-padding;

		&-list {
			display: flex;
			justify-content: space-between;

			@include mobile() {
				flex-wrap: wrap;
				gap: $size-4;
			}
		}

		&-item {
			position: relative;
			flex-basis: 48%;

			@include mobile() {
				flex-basis: 100%;
			}

			&-img {
				width: 100%;
				height: 455px;

				@include tablet() {
					width: 330px;
					height: 278px;
				}
			}

			&-text {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: $size-18;
				white-space: nowrap;

				@include tablet() {
					font-size: $size-8;
					line-height: 25px;
				}
			}
		}
	}

	&-testimonial {
		@include section-padding;

		&-list {
			display: flex;
			justify-content: space-between;

			@include tablet() {
				flex-wrap: wrap;
				row-gap: $size-8;
			}

			@include mobile() {
				row-gap: $size-4;
			}
		}

		&-item {
			height: 460px;
			flex-basis: 23%;
			border: 1px solid #dee2e6;
			box-shadow: 0px 2px 6px #00000029;
			border-radius: 4px;
			overflow: hidden;
			position: relative;

			@include tablet() {
				flex-basis: 48%;
			}

			@include mobile() {
				flex-basis: 100%;
			}

			&-img {
				width: 100%;
				height: 256px;
				object-fit: cover;
			}

			&-content {
				padding: $size-4;

				@include tablet() {
					padding-left: $size-6;
					padding-right: $size-6;
				}
			}

			&-title {
				font-size: 14px;
				font-weight: 500;
				color: #212529;
				margin-bottom: $size-2;
			}

			&-feedback {
				color: #212529;
				font-size: $size-4;
				margin-bottom: $size-13;

				@include tablet() {
					margin-bottom: $size-19;
				}
			}

			&-date {
				display: inline-block;
				font-size: 14px;
				color: #707070;
				position: absolute;
				bottom: $size-4;
				left: $size-4;

				@include tablet() {
					left: $size-6;
				}
			}
		}
	}

	&-contact {
		@include section-padding;

		&-wrapper {
			max-width: 730px;
			margin: 0 auto;

			@include tablet() {
				max-width: 450px;
			}

			@include mobile() {
				max-width: 375px;
				padding: 0 15px;
			}
		}

		&-title {
			margin-bottom: $size-6;
		}

		&-desc {
			font-size: $size-5;
			margin-bottom: $size-5;

			@include tablet() {
				font-size: $size-4;
				margin-bottom: $size-4;
			}

			@include mobile() {
				margin-bottom: $size-2;
			}
		}
	}

	&-form {
		display: flex;
		flex-direction: column;

		&-box {
			display: flex;
			flex-direction: column;
			margin-bottom: $size-4;

			@include tablet() {
				margin-bottom: $size-2;
			}
		}

		&-label {
			font-size: $size-4;
			margin-bottom: $size-1;

			@include tablet() {
				font-size: 14px;
				margin-bottom: 3px;
			}
		}

		&-input,
		&-input-textarea {
			font-size: $size-4;
			border: 1px solid #000;

			@include tablet() {
				font-size: 14px;
			}

			&:focus,
			&-textarea:focus {
				outline: none;
			}
		}

		&-input {
			&-username {
				padding: $size-3 $size-4 14px;

				@include tablet() {
					padding: $size-2 $size-3;
				}
			}

			&-phone,
			&-email {
				padding: 14px $size-4 15px;

				@include tablet() {
					padding: 9px $size-3 $size-2;
				}
			}

			&-textarea {
				resize: none;
				height: 136px;
				padding: $size-3 $size-4;

				@include tablet() {
					height: 100px;
				}

				@include mobile() {
					padding: 9px $size-3;
				}
			}

			&-checkbox {
				display: inline-block;
				width: $size-6;
				height: $size-6;
				margin-right: $size-1;

				@include tablet() {
					width: 17.63px;
					height: 17.63px;
				}
			}
		}

		&-privacy {
			display: flex;
			margin-bottom: $size-10;

			&-label {
				font-size: $size-4;

				@include tablet() {
					font-size: 14px;
				}
			}
		}

		&-btn {
			border: 0;
			padding: $size-4 143px;
			align-self: center;
			font-size: $size-4;
			cursor: pointer;
			transition: all 0.3s;

			@include tablet() {
				padding: 10px 77px;
				font-size: 14px;
			}

			@include mobile() {
				padding: $size-2 54.5px;
			}
		}
	}
}
