.header {
	background-color: $color-primary;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 88px;

	@include tablet() {
		padding: 30px 39px;
	}

	@include mobile() {
		padding: 0;
		flex-direction: column;
		align-items: stretch;
	}

	&-logo {
		@include mobile {
			padding: 10px 0;
			margin: 0 auto;
		}
	}

	&-nav {
		& > * {
			color: #fff;
			font-size: 20px;
			text-align: center;
			position: relative;

			@include mobile() {
				flex-basis: 50%;
				border: 1px solid #fff;
				padding: 8px 0;
			}

			&:not(:first-child) {
				margin-left: 64px;

				@include tablet() {
					margin-left: 40px;
				}

				@include mobile() {
					margin-left: 0;
				}
			}

			@include hover-underline;
		}
	}
}

.footer {
	padding-top: 32px;
	padding-bottom: 39px;

	@include tablet() {
		padding-bottom: 32px;
	}

	@include mobile() {
		padding-top: 25px;
		padding-bottom: 24px;
		padding-right: 15px;
		padding-left: 15px;
	}

	&-nav {
		margin-bottom: 24px;
		display: flex;

		@include tablet() {
			margin-bottom: 18px;
		}

		@include mobile() {
			display: none;
		}

		&-list {
			&:not(:last-child) {
				margin-right: 48px;

				@include tablet() {
					margin-right: 40px;
				}
			}
		}

		& > * {
			position: relative;

			@include hover-underline;
		}
	}

	&-social {
		&-icon {
			&:not(:first-child) {
				margin-left: 32px;
			}

			a {
				img {
					width: 24px;
					height: 24px;
				}
			}
		}
	}

	a {
		color: #fff;
	}

	&-contact {
		&-item {
			img {
				width: 24px;
				height: 24px;

				@include mobile() {
					width: 20px;
					height: 20px;
				}
			}

			a {
				font-size: 36px;
				color: #fff;
				margin-left: 24px;

				@include tablet() {
					font-size: 20px;
					margin-left: 10px;
				}

				@include mobile() {
					font-size: 16px;
					line-height: 1.875;
					margin-left: 6.5px;
				}
			}

			&:not(:last-child) {
				margin-bottom: 16px;

				@include tablet() {
					margin-bottom: 12px;
				}

				@include mobile() {
					margin-bottom: 6px;
				}
			}
		}
	}

	&-copyright {
		@include mobile() {
			flex-direction: column;
		}

		&-text {
			color: #fff;
			font-size: 16px;

			@include mobile() {
				font-size: 14px;
				margin-bottom: 8px;
			}
		}

		&-rules {
			@include mobile() {
				flex-direction: column;
			}

			& > * {
				&:not(:first-child) {
					margin-left: 48px;

					@include tablet() {
						margin-left: 24px;
					}

					@include mobile() {
						margin-left: 0;
					}
				}

				&:not(:last-child) {
					@include mobile() {
						margin-bottom: 8px;
					}
				}

				a {
					color: #fff;
					font-size: 14px;
				}
			}
		}
	}

	&-wrapper {
		display: flex;
		justify-content: space-between;
		padding-bottom: 24px;
		border-bottom: 1px solid #fff;
		margin-bottom: 32px;

		@include tablet() {
			padding-bottom: 20px;
			margin-bottom: 24px;
		}

		@include mobile() {
			padding-bottom: 24px;
			margin-bottom: 16px;
		}
	}
}
