@mixin section-padding {
	padding-top: $size-15;
	padding-bottom: $size-20;

	@include tablet() {
		padding-top: $size-10;
		padding-bottom: $size-14;
	}

	@include mobile() {
		padding-top: $size-8;
		padding-bottom: $size-10;
	}
}

@mixin page-spacing {
	padding-top: 96px;
	padding-bottom: 160px;

	@include tablet() {
		padding-top: 60px;
		padding-bottom: 96px;
	}

	@include mobile() {
		padding-top: 28px;
		padding-bottom: 56px;
	}
}
