@mixin tablet {
	@media (max-width: 991px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin section-padding {
	padding-top: 60px;
	padding-bottom: 80px;

	@include tablet() {
		padding-top: 40px;
		padding-bottom: 56px;
	}

	@include mobile() {
		padding-top: 32px;
		padding-bottom: 40px;
	}
}

@mixin page-spacing {
	padding-top: 96px;
	padding-bottom: 160px;

	@include tablet() {
		padding-top: 60px;
		padding-bottom: 96px;
	}

	@include mobile() {
		padding-top: 28px;
		padding-bottom: 56px;
	}
}

@mixin hover-underline {
	&::after {
		content: "";
		display: block;
		width: 0;
		height: 2px;
		background-color: #fff;
		position: absolute;
		bottom: -3px;
		transition: width 0.15s;
	}

	&:hover {
		&::after {
			width: 100%;

			@include mobile() {
				width: 0;
			}
		}
	}
}
