/* color and bg color */

.clr-white {
	color: #fff;
}

.clr-black-1 {
	color: #0a0a0a;
}

.clr-black-2 {
	color: #000;
}

.clr-primary {
	color: $color-primary;
}

.clr-secondary {
	color: $color-secondary;
}

.bg-primary {
	background: $color-primary;
}

.bg-secondary {
	background: $color-secondary;
}

.bg-brown {
	background: #aa06010d;
}

/* flex */
.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

/* font weight */
.font-medium {
	font-weight: 500;
}

.font-bold {
	font-weight: 700;
}

.font-black {
	font-weight: 900;
}

/* font-style */
.italic {
	font-style: italic;
}

/* text transform */
.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

/* text align */
.text-center {
	text-align: center;
}
