.blog {
	&-nav {
		@include mobile() {
			display: none;
		}

		&-wrapper {
			padding: 12px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include tablet() {
				padding: 16px 0;
			}
		}

		&-list {
			display: flex;
			gap: 48px;

			@include tablet() {
				gap: 32px;
			}
		}

		&-link {
			color: #fff;
			font-size: 20px;
			line-height: 1.2;
			font-weight: 700;

			@include tablet() {
				font-size: 16px;
				line-height: 1.5;
			}
		}
	}
}
