.page {
	&-title {
		font-size: 48px;
		line-height: 80px;
		position: relative;
		padding-left: 16px;
		margin-bottom: 60px;
		border-left: 8px solid #9f1213;
		font-weight: 700;

		@include tablet() {
			font-size: 48px;
			line-height: 80px;
			margin-bottom: 40px;
			border-left-width: 4px;
		}

		@include mobile() {
			margin-bottom: 24px;
			line-height: 1.5;
			padding-left: 8px;
			font-size: 28px;
		}

		&-blog {
			margin-top: 40px;

			@include tablet() {
				margin-top: 32px;
			}

			@include mobile() {
				margin-top: 28px;
			}
		}
	}
}
